root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,yml,yaml,props,targets,csproj,slnx,config}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.cs]
# Modern C# style
csharp_style_namespace_declarations = file_scoped:error
csharp_style_prefer_primary_constructors = true:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_prefer_braces = true:error
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:suggestion
csharp_using_directive_placement = outside_namespace:error
dotnet_style_require_accessibility_modifiers = always:error
dotnet_sort_system_directives_first = true
dotnet_style_readonly_field = true:error
